@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

.fa-2xs {
  line-height: 1em;
}

h2 {
  margin: 0px;
}

h3 {
  padding-top: 4px;
  margin: 3px;
  color: #000;
  font-size: 19px;
  font-weight: 800;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

span {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

button {
  border: none;
  padding: 0;
  color: var(--White, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

i {
  color: var(--grey-tint-4, #7e7e7e);
}

/*animation*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: hiding 5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes hiding {
  0% {
    background: #f3f3f3;
  }
  50% {
    background: rgba(243, 243, 243, 0.3843137255);
  }
  100% {
    background: rgba(243, 243, 243, 0);
    z-index: 0;
  }
}
.spinner {
  width: 150px;
  height: 150px;
  border: 4px solid #ccc;
  border-top: 10px solid #9356dc;
  border-radius: 50%;
  animation: spin 2s, hidespinner 4s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
    display: none;
  }
}
@keyframes hidespinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
/*header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .title {
  padding: 26px 89px 8px 89px;
  margin: 0px;
}
header .search {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
}
header .search .localisaton {
  font-size: 16px;
  font-weight: 500;
}

/*section reservez*/
.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--Background, #f6f6f6);
  padding: 40px 0px 60px 0px;
}
.display .section-title {
  text-align: center;
}
.display .explore {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s, box-shadow 1s;
}
.display .explore:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*section fonctionnement*/
.section-fonction {
  margin: 50px 18px 50px 18px;
}
.section-fonction .title-fonction {
  margin: auto;
  display: flex;
  justify-content: flex-start;
}
.section-fonction .fonction {
  margin-top: 30px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}
.section-fonction .fonction .num {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Primary, #9356dc);
  width: 24px;
  height: 24px;
  border-radius: 15px;
  color: var(--White, #fff);
}
.section-fonction .fonction .button {
  width: 332.486px;
  height: 72.379px;
  border-radius: 20px;
  background: var(--Background, #f6f6f6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.section-fonction .fonction .button .links {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  gap: 22px;
  margin-left: -12px;
}
.section-fonction .fonction .button .links .fa-store {
  color: #9356dc;
}

/*section restau*/
.restaurants {
  padding: 50px 10px 60px 10px;
  background: var(--Background, #f6f6f6);
  position: relative;
}
.restaurants .title-main {
  margin: auto;
}
.restaurants .restaurants-cards {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 23px;
}
.restaurants .restaurants-cards .card-link {
  text-decoration: none;
}
.restaurants .restaurants-cards .card {
  position: relative;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: 251px;
  align-self: stretch;
  width: 346px;
}
.restaurants .restaurants-cards .card .size-img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants-cards .card .card-content {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.restaurants .restaurants-cards .card .card-text {
  margin-left: 15px;
}
.restaurants .restaurants-cards .card .card-text .restaurant-name {
  font-size: 18px;
  font-weight: 700;
}
.restaurants .restaurants-cards .card .card-text .restaurant-loc {
  font-size: 17px;
  font-weight: 300;
}
.restaurants .restaurants-cards .card .card-new {
  width: 100%;
  height: 70%;
}
.restaurants .restaurants-cards .card .ribbon {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 0px 4px 10px;
  background-color: #99e2d0;
  color: var(--Green-Font, #008766);
  text-align: center;
  width: 80px;
  height: 29px;
  border-radius: 3px;
}
.restaurants .restaurants-cards .card .ribbon .ribbon-setup {
  margin: 0px;
  font-weight: 420;
}
.restaurants .restaurants-cards .card .card-rating {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
}
.restaurants .restaurants-cards .card .heart-label {
  margin: 0px;
  font-size: 3em;
  position: relative;
  margin: 10px;
}
.restaurants .restaurants-cards .card .hidden {
  display: none;
}
.restaurants .restaurants-cards .card .heart-label i {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: -30px;
  right: 5px;
  transition: opacity 0.3s, color 0.3s;
}
.restaurants .restaurants-cards .card .heart-label .fa-solid {
  opacity: 0;
}
.restaurants .restaurants-cards .card #heartCheckbox1:checked + .heart-label .fa-regular,
.restaurants .restaurants-cards .card #heartCheckbox2:checked + .heart-label .fa-regular,
.restaurants .restaurants-cards .card #heartCheckbox3:checked + .heart-label .fa-regular,
.restaurants .restaurants-cards .card #heartCheckbox4:checked + .heart-label .fa-regular {
  opacity: 0;
}
.restaurants .restaurants-cards .card #heartCheckbox1:checked + .heart-label .fa-solid,
.restaurants .restaurants-cards .card #heartCheckbox2:checked + .heart-label .fa-solid,
.restaurants .restaurants-cards .card #heartCheckbox3:checked + .heart-label .fa-solid,
.restaurants .restaurants-cards .card #heartCheckbox4:checked + .heart-label .fa-solid {
  opacity: 1;
  background: linear-gradient(201deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*footer*/
footer {
  background: var(--Grey, #353535);
  display: flex;
  padding: 22px 0px 22px 25px;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer-logo {
  color: var(--White, #fff);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-list {
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
}
footer .footer-style {
  padding-bottom: 8px;
}
footer .footer-style .fa-utensils,
footer .footer-style .fa-handshake-angle {
  color: white;
}
footer .footers-texte {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

/*  pages secondaires*/
.size-fiting {
  height: 1250px;
}

.size-fiting2 {
  height: 1300px;
}

.fa-arrow-left {
  position: absolute;
  left: 40px;
  top: 40px;
  color: #000;
}

.img-restaurants {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.in-front {
  position: absolute;
  top: 240px;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 210px;
  border-radius: 40px 40px 0px 0px;
  background: var(--Background, #f6f6f6);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.in-front .dish {
  width: 90%;
}
.in-front .dish .dish-counter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.in-front .dish .main-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.in-front .dish .main-title .heart-label {
  font-size: 3em;
  position: relative;
  margin: 10px;
}
.in-front .dish .main-title .hidden {
  display: none;
}
.in-front .dish .main-title .heart-label i {
  position: absolute;
  top: -5px;
  left: -30px;
  transition: opacity 0.3s, color 0.3s;
}
.in-front .dish .main-title .heart-label .fa-solid {
  opacity: 0;
}
.in-front .dish .main-title #heartCheckbox3:checked + .heart-label .fa-regular {
  opacity: 0;
}
.in-front .dish .main-title #heartCheckbox3:checked + .heart-label .fa-solid {
  opacity: 1;
  background: linear-gradient(201deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.in-front .dish .list-dish {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
  width: 100%;
  animation: fadeout 2s;
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.in-front .dish .title-restaurants {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.in-front .dish .title-fase {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.in-front .dish .title-fase .underline {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-color: #99e2d0;
}
.in-front .dish .card-dish {
  position: relative;
  border-radius: 15px;
  background: #fff;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  align-self: stretch;
  opacity: 0;
  overflow: hidden;
  animation: appear 1s forwards;
}
.in-front .dish .card-dish .card-content-dish {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-right: 15px;
}
.in-front .dish .card-dish .card-text-dish {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 100%;
}
.in-front .dish .card-dish .card-text-dish .price {
  color: #353535;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}
.in-front .dish .card-dish .card-text-dish .title-serving {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}
.in-front .dish .card-dish .card-text-dish .info-serving {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
}
.in-front .dish .fa-circle-check {
  color: white;
}
.in-front .dish .card-dish .drawer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -59px;
  width: 59px;
  height: 100%;
  background: #99e2d0;
  transition: transform 0.5s ease;
}
.in-front .dish .card-dish .price {
  transition: transform 0.4s ease-in-out;
}
.in-front .dish .card-dish:hover .drawer {
  transform: translateX(-100%);
}
.in-front .dish .card-dish:hover .price {
  transform: translateX(-59px);
}
.in-front .dish .animation1 {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.in-front .dish .animation2 {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
.in-front .dish .animation3 {
  opacity: 0;
  animation: fadeIn 3s forwards;
}
.in-front .dish .animation4 {
  opacity: 0;
  animation: fadeIn 4s forwards;
}
.in-front .dish .animation5 {
  opacity: 0;
  animation: fadeIn 5s forwards;
}
.in-front .dish .animation6 {
  opacity: 0;
  animation: fadeIn 6s forwards;
}
.in-front .dish .animation7 {
  opacity: 0;
  animation: fadeIn 7s forwards;
}
.in-front .dish .animation8 {
  opacity: 0;
  animation: fadeIn 8s forwards;
}
.in-front .dish .animation9 {
  opacity: 0;
  animation: fadeIn 9s forwards;
}
.in-front .dish .animation10 {
  opacity: 0;
  animation: fadeIn 3.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
.pricing {
  display: flex;
  justify-content: space-between;
}

.btn-commander {
  margin-top: 50px;
  padding: 15px;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}
.btn-commander:hover {
  opacity: 0.8;
}

.sizing-of-lanote {
  padding-bottom: 260px;
}

/*  version desktop */
@media (min-width: 769px) {
  .restaurants-cards {
    align-items: center;
  }
  footer {
    padding: 30px;
    justify-content: center;
    align-items: flex-end;
  }
  footer .footer-list {
    display: flex;
  }
  footer .footer-list .footer-logo {
    margin-top: -10px;
    padding-left: 100px;
    padding-right: 20px;
  }
  footer .footer-list .footer-style:first-child {
    order: 1;
  }
  footer .footer-style {
    padding-right: 20px;
    padding-top: 20px;
  }
}
@media (min-width: 1024px) {
  .section-fonction .fonction {
    flex-direction: row;
  }
  .section-fonction .all-btn {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
  }
  .restaurants .restaurants-cards {
    gap: 50px;
  }
  .restaurants .restaurants-cards .card {
    width: 490px;
  }
  .in-front {
    width: 1024px;
    left: 50%;
    transform: translate(-50%);
  }
}/*# sourceMappingURL=style.css.map */